body{
    font-family: 'Poppins', sans-serif;
    background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

}
#start-quiz-btn{
    height: px;
    width: 100px;
    background-color: #214252;
    border-radius: 10px;

}

.hide_container {
    display: none;
}

.show_container{
    display:block;
}

.background {
   
}
