.hide_container {
    display: none;
    border-width: 12px
padding: 30px
width: 200px
}

.show_container{
    display:block;
    border-width: 12px
    padding: 30px
    width: 200px
}

.background {
    background-color: aqua;
}
